<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Plan-It</title>

        <link rel="icon" href="/plan-it.png">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/solar/bootstrap.min.css ">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <!-- !! Importing general dependencies here because otherwise they won't be available to the inserted views -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
        <script src="/js/client.js"></script>
        <script>
            $( document ).ready( function(){
                $( '#nameUser' ).text( JSON.parse( localStorage.getItem( 'currentUser' ) ).name );
            } );
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark border border-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/plan-it.png" alt="UI Kit" style="width: 100px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0">
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="/userDashboard">User Dashboard</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="/projectReport">Project Report</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="/taskReport">Task Report</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="/projectCreate">Create a new Project</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="/taskCreatenew">Create a new Task</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="nav-link" id="nameUser" role="button">
                                Name User
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {{!-- Insert the different webpages --}}
        {{{body}}}
        {{!-- Footer --}}

        <footer class="pt-4 pb-4  bg-dark text-white">
            <div class="container">
                <div class="row text-center align-items-center">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" href="/userDashboard">Home</a>
                            </li>
                        </ul>
                        <p class="text-h5 mt-4">© Plan-It</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>