<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
        <!-- TODO: Import Stylesheets -->
    </head>
    <body>
        <!-- Note the triple braces make handlebars not to escape the HTML in the passed key -->
        {{{ body }}}
        <!-- TODO: Import JavaScript files -->
    </body>
</html>
