<section class="pt-3 pb-3 mt-0 align-items-bottom d-flex bg-dark"
  style="min-height: 100vh; background-size: cover; background-image: url(&quot;https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=6bdf1957c4304fbc671ef13a25e23f94&quot;);">
  <div class="container">
    <div class="row  justify-content-md-end align-items-end d-flex  h-100 ">
      <div class="col-12 col-md-5  h-50 text-right">
        <h1 class="text-uppercase    mb-2 mt-5"><strong>Roadmap Planner</strong> </h1>
        <p class="lead    mb-3">Tasks done now, means more free time later.</p>
        <p>
          <a href="/login" class="btn btn-primary shadow-lg btn-round mt-2 mr-2 mb-2 ml-0  btn-lg  ">Login</a>
          <a href="/register" class="btn btn-primary shadow-lg btn-round mt-2 mr-2 mb-2 ml-0  btn-lg  ">Create a
            free account</a>
          <a href="#" class="btn bg-light shadow-lg btn-round m-2   btn-lg btn-rised">
            <i class="fa fa-play  mr-md-2" aria-hidden="true"></i> Watch video</a>
        </p>
        <div class="btn-container-wrapper p-relative d-block  zindex-1">
          <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center " href="#section-1">
            <i class="fa fa-angle-down fa-lg "></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>