<section class="pt-5 pb-5 bg-dark">
    <div class="container">
        <div class="row   justify-content-center header-h100 align-items-center">
            <div class="col-12 col-md-5 text-center">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="display-5  ">Log In</h1>
                        <input type="text" class="form-control mt-5" placeholder="Email">
                        <input type="password" class="form-control mb-1  mt-4" placeholder="Password">
                        <a href="./userDashboard.hbs" class="btn btn-primary btn-lg btn-round mt-5">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>